-cc=vbccm68k -quiet %s -o= %s %s -O=%ld -I$VBCC/targets/m68k-atari/include
-ccv=vbccm68k %s -o= %s %s -O=%ld -I$VBCC/targets/m68k-atari/include
-as=vasmm68k_mot -m68000 -Felf -quiet -noesc -nowarn=2049 %s -o %s
-asv=vasmm68k_mot -m68000 -Felf -noesc -nowarn=2049 %s -o %s
-rm=rm -f %s
-rmv=rm -f %s
-ld=vlinkm68k -bataritos -x -Bstatic -Cvbcc $VBCC/targets/m68k-atari/lib/startup16.o %s %s -L$VBCC/targets/m68k-atari/lib -lvc -o %s
-l2=vlinkm68k -bataritos -x -Bstatic -Cvbcc %s %s -L$VBCC/targets/m68k-atari/lib -o %s
-ul=-l%s
-cf=cat %s
-ml=500
